<%= simple_form_for @shop do |f| %>
  <div class="well">
    <%= f.input :name, class: "form-input"%>
    <%= f.input :phone_number %>
    <%= f.input :address %>
    <%= f.input :website %>
    <%= f.input :cafeimg, as: :file %>
    <%= f.button :submit, class:"btn btn-primary" %>
  </div>
<% end %>

<!-- <%= simple_form_for @shop do |f| %>
<div class="container-form">
  <div class="group">
    <%= f.input :name %>
    <span class="highlight"></span>
    <span class="bar"></span>
    <label>Name</label>
  </div>

  <div class="group">
    <input type="text" required>
    <span class="highlight"></span>
    <span class="bar"></span>
    <label>Email</label>
  </div>
</div>
<% end %> -->
