<div class="wrapper">
<!-- Header -->
<div class="cotainer" id="cafe-index"></div>
<!-- Header end -->
  <!-- search -->
  <div class="search">
    <%= form_tag(shops_path, :method => "get", id: "search") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search Posts" %>
      <%= button_tag "search", class: 'btn btn-success' do %>
        <i class="glyphicon glyphicon-search"></i>
      <% end %>
    <% end %>
  </div>
  <!-- end of search -->

  <div class="cotainer" id="bean-index-outer">
    <div class="row">
      <% @shops.each do |f| %>
        <div class="col-lg-4 bean-index">
          <div class="bean-index-self-img" alt="Fjords">
            <%= image_tag f.cafeimg_url %>
          </div>
            <div class="desc">
              <h4><%= link_to f.name, shop_path(f), class: "bean-name" %></h4>
              <p>Address: <%= f.address %> </p>
              <p>Website: <%= f.website %> </p>
              <p>Phone number: <%= f.phone_number %> </p>
            </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class='text-center'>
  <%= paginate @shops, :theme => 'twitter-bootstrap-3' %>
</div>
