<%= render "/layouts/google" %>

<h1>Shops</h1>
<%= image_tag @shop.cafeimg_url.to_s %>
<br>
<%= @shop.name %>
<br>
<%= @shop.address %>
<br>
<%= @shop.website %>
<br>
<%= @shop.phone_number %>
<hr>
<!-- likes -->
<% if @shop_like.present? && @shop_like.persisted? %>
  <%= link_to "Un-Like", shop_shop_like_path(@shop, @shop_like), method: :delete %>
<% else %>
  <%= link_to "Like", shop_shop_likes_path(@shop), method: :post %>
<% end %>

<!-- edit/delete -->
<% if can? :edit, @shop %>
  <%= link_to "Edit", edit_shop_path(@shop) %>
<% end %>
<% if can? :delete, @shop %>
  <%= link_to "Delete", shop_path(@shop), method: :delete %>
<% end %>

<%= render "comments/form" %>
<%= render "comments/show" %>

<% if @shop.longitude && @shop.latitude %>
<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>
<% end %>
<script>
 handler = Gmaps.build('Google');
 handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
   markers = handler.addMarkers([
      {
       "lat": <%= @shop.latitude %>,
       "lng": <%= @shop.longitude %>,
       "picture": {
         "url": "http://icons.iconarchive.com/icons/sonya/swarm/48/Coffee-icon.png",
         "width":  50,
         "height": 50
       },
       "infowindow": "hello codecore!"
     }
   ]);
   handler.bounds.extendWith(markers);
   handler.fitMapToBounds();
 });

 </script>
