<%= render "/layouts/google" %>
<div class="container">
<h2><%= @shop.name %></h2>
<br>
<%= image_tag @shop.cafeimg_url(:xlarge).to_s %>
<br>
<!-- likes -->
<% if @shop_like.present? && @shop_like.persisted? %>
  <%= link_to fa_icon("heart", base: "square-o", class: "fa-2x"), shop_shop_like_path(@shop, @shop_like), method: :delete %>
<% else %>
  <%= link_to fa_icon("heart-o", base: "square-o", class: "fa-2x"),shop_shop_likes_path(@shop), method: :post %>
<% end %>

<!-- edit/delete -->
<% if can? :edit, @shop %>
  <%= link_to "Edit", edit_shop_path(@shop) %>
<% end %>
<% if can? :delete, @shop %>
  <%= link_to "Delete", shop_path(@shop), method: :delete %>
<% end %>
<br>
<hr>
<p>Name:<%= @shop.name %></p>
<br>
<p>Address:<%= @shop.address %></p>
<br>
<p>Webiste:<%= @shop.website %></p>
<br>
<p>Phone Number:<%= @shop.phone_number %></p>
<hr>
<h3>Brewing Now:</h3>
<% @bean.each do |f| %>
  <h3><%= link_to f.name, bean_path(f) %></h3>
<% end %>


<% if @shop.longitude && @shop.latitude %>
<div style='width: 500px;'>
  <div id="map" style='width: 500px; height: 350px;'></div>
</div>
<% end %>
<script>
 handler = Gmaps.build('Google');
 handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
   markers = handler.addMarkers([
      {
       "lat": <%= @shop.latitude %>,
       "lng": <%= @shop.longitude %>,
       "picture": {
         "url": "http://orig13.deviantart.net/4351/f/2010/178/f/6/free_jake_icon_by_picklecheesepie.gif",
         "width":  50,
         "height": 50
       },
     }
   ]);
   handler.bounds.extendWith(markers);
   handler.fitMapToBounds();
 });

 </script>

 <%= render "comments/form" %>
 <%= render "comments/show" %>
</div>
