<h1>Recipes</h1>
<h2>Create a New Java</h2>
<%= link_to "New", new_recipe_path %>
<h2>View My Recipes</h2>
<%= link_to "My Recipes", new_recipe_path %>

<div class="container">
  <% @recipes.each do |f| %>
    <%= link_to f.name, recipe_path(f) %>
    <%= f.bean_name %>
    <%= f.method %>
    <%= f.rating %>
  <% end %>
</div>
