<h1>These are the recipes that you are looking for</h1>
<%= @recipe.name %>
<%= @recipe.bean_name %>
<%= @recipe.region %>
<%= @recipe.roaster %>
<%= @recipe.producer %>
<%= @recipe.method %>
<%= @recipe.rating %>
<%= @recipe.notes %>
<%= @recipe.grind %>
<hr>
<%= render "comments/form" %>
<%= render "comments/show" %>
