<h1>These are the recipes you are looking for</h1>
<%= image_tag @recipe.recipeimg_url.to_s %>
<p>Name:<%= @recipe.name %></p>
<p>Method:<%= @recipe.method %></p>
<p>Rating:<%= @recipe.rating %></p>
<p>Notes:<%= @recipe.notes %></p>
<p>Grind Type:<%= @recipe.grind %></p>
<hr>
<!-- likes -->
<% if @recipe_like.present? && @recipe_like.persisted? %>
  <%= link_to "Un-Like", recipe_recipe_like_path(@recipe, @recipe_like), method: :delete %>
<% else %>
  <%= link_to "Like", recipe_recipe_likes_path(@recipe), method: :post %>
<% end %>

<!-- edit/delete -->
<% if can? :edit, @recipe %>
  <%= link_to "Edit", edit_recipe_path(@recipe) %>
<% end %>
<% if can? :delete, @recipe %>
  <%= link_to "Delete", recipe_path(@recipe), method: :delete %>
<% end %>
<%= render "comments/form" %>
<%= render "comments/show" %>
