<!-- User Info -->
<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <div class="bean-index-self-img" alt="Fjords">
        <%= image_tag current_user.avatar_url(:thumb).to_s %>
      </div>
    </div>
    <hr>
    <div class="col-lg-6">
      <div class="user-info">
        <%= @user.first_name %>
        <hr>
        <%= @user.last_name %>
        <hr>
        <%= @user.email %>
        <hr>
        <%= link_to "Edit Profile", edit_user_path(@user) %>
      </div>
    </div>
  </div>
</div>
<!-- User Info End -->

<!-- Likes -->
<div class="container" id="user-show-content">
  <div class="row">
    <h2>Liked Beans</h2>
    <% @beans.each do |f| %>
      <div class="col-lg-4">
        <%= f.name %>
        <%= link_to image_tag(f.beanimg_url(:thumb).to_s), bean_path(f) %>
      </div>
    <% end %>
  </div>
</div>
<hr>

<div class="container" id="user-show-content">
  <div class="row">
    <h2>Liked Shops</h2>
    <% @shops.each do |f| %>
      <div class="col-lg-4">
        <%= f.name %>
        <%= link_to image_tag(f.cafeimg_url(:thumb).to_s), shop_path(f) %>
      </div>
    <% end %>
  </div>
</div>
<hr>


<div class="container" id="user-show-content">
  <div class="row">
    <h2>Liked Recipes</h2>
    <% @recipes.each do |f| %>
      <div class="col-lg-4">
        <%= f.name %>
        <%= link_to image_tag(f.recipeimg_url(:thumb).to_s), recipe_path(f) %>
      </div>
    <% end %>
  </div>
</div>
<hr>
<!-- Likes End -->

<div class="container">
  <% if @rec_bean_final != nil %>
    <h2>Recommendation</h2>
	  <div class="row">
		  <div class="col-md-4">
        <h3>Taste bar <span class="semi-bold"></span></h3>
        <br>
        <div class="col-md-11">
          <p>Sweet</p>
          <div class="progress">
            <div data-percentage="0%" style="width: <%= @sweet %>;" class="progress-bar progress-bar-success" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <p>Fruity</p>
          <div class="progress">
            <div data-percentage="0%" style="width: <%= @fruity %>;"  class="progress-bar progress-bar-info" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <p>Bitter</p>
          <div class="progress">
            <div data-percentage="0%" style="width: <%= @bitter %>;" class="progress-bar progress-bar-warning" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <p>Chocolate</p>
          <div class="progress">
            <div data-percentage="0%" style="width: <%= @chocolate %>;" class="progress-bar progress-bar-danger" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
	</div>
<hr>
</div>
<% else %>
  <div class="container">
    <h2>Recommendation</h2>
	  <div class="row">
		  <div class="col-md-4">
        <h3>Taste bar <span class="semi-bold"></span></h3>
        <br>
        <div class="col-md-11">
          <p> There is no beeans you have liked to generate a graph</p>
        </div>
      </div>
    </div>
	</div>
  <hr>
</div>
</div>
<% end %>

<% if @rec_bean_final != nil %>
  <!-- <%= @taste %> -->
    <div class="container" id="user-show-content">
      <div class="row">
        <h2>Check out these beans</h2>
        <% @rec_bean_final.each do |f| %>
          <div class="col-lg-4">
            <%= link_to f.name, bean_path(f) %>
            <%= link_to image_tag(f.beanimg_url(:thumb)), bean_path(f) %>
          </div>
        <% end %>
        <hr>
      </div>
    </div>
<% end %>

<!-- <div class="container" id="user-show-content">
  <div class="row">
    <h2>Check out these recipes</h2>
    <%# @rec_recipe_final.each do |f| %>
    <div class="col-lg-4">
      <%# link_to f.name, recipe_path(f) %>
      <%# link_to image_tag(f.recipeimg_url(:thumb)), recipe_path(f) %>
    </div>
    <%# end %>
  </div>
</div>
<hr>  -->
