<header class="main_h">

    <div class="row">
        <a class="logo" href="#">JavaHub</a>

        <div class="mobile-toggle">
            <span></span>
            <span></span>
            <span></span>
        </div>

        <nav>
            <ul>
                <li><%= link_to "Home", root_path%></li>
                <li><%= link_to "Bean", beans_path %></li>
                <li><%= link_to "Shop", shops_path %></li>
                <li><%= link_to "Recipe", recipes_path %></li>
                <% if user_signed_in? %>
                  <li><%= link_to "Profile", user_path(current_user) %></li>
                  <li><%= link_to "Logout", sessions_path, method: :delete,
                           data: {confirm: "are you sure you want to log out?"}%></li>
                <% else %>
                  <li class="navbar-right"><%= link_to "Login", new_session_path %></li>
                  <li class="navbar-right"><%= link_to "Sign in with Twitter", sign_in_with_twitter_path %></li>
                  <li class="navbar-right"><%= link_to "Sign Up", new_user_path %></li>
                <% end %>
            </ul>
        </nav>

    </div> <!-- / row -->

</header>

<!-- header-container -->
  <div class="header-container">
    <div class="video-container">
      <video class="video" autoplay loop muted>
        <source src="coffee.mp4" type="video/mp4" />
        <source src="coffee.ogg" type="video/ogg" />
        <source src="coffee2.mp4" type="video/mp4" />
        <source src="coffee2.ogg" type="video/ogg" />
        Your browser does not support the video tag.
      </video>
    </div> <!-- end of video-container -->
  </div>
  <!-- end of header-container -->

<!-- search -->

<!-- end of search -->

  <!-- popular shops/recipes -->
  <div class="container cirlce">
    <div class="row">
      <% @beans.each do |f| %>
      <div class="col-lg-4">
        <div class="circle"><%= image_tag f.beanimg_url(:thumb) %></div>
      </div>
      <% end %>
    </div>
  </div>

  <div class="container circle">
    <div class="row">
      <% @shops.each do |f| %>
      <div class="col-lg-4">
        <div class="circle"><%= image_tag f.cafeimg_url(:thumb) %></div>
      </div>
      <% end %>
    </div>
  </div>

  <div class="container cirlce">
    <div class="row">
      <% @recipes.each do |f| %>
      <div class="col-lg-4">
        <div class="circle"><%= image_tag f.recipeimg_url(:thumb) %></div>
      </div>
      <% end %>
    </div>
  </div>
<!-- end of popular shops/recipes -->

<!-- big pictures -->
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="home-picture">
      </div>
    </div>
  </div>
</div>
<!-- end of big picture -->

<!-- Footer-cotainer -->
<div class="container-footer">
  <div class="footer">
  </div>
</div>
<!-- End of footer-container -->
