<header class="main_h">
  <div class="row">
    <a class="logo">JavaHub</a>
    <div class="mobile-toggle">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <nav>
      <ul>
        <li class="hvr-overline-from-right"><%= link_to "Home", root_path%></li>
        <li class="hvr-overline-from-right"><%= link_to "Bean", beans_path %></li>
        <li class="hvr-overline-from-right"><%= link_to "Shop", shops_path %></li>
        <li class="hvr-overline-from-right"><%= link_to "Recipe", recipes_path %></li>
        <% if user_signed_in? %>
          <li class="hvr-overline-from-right"><%= link_to "Profile", user_path(current_user) %></li>
          <li class="hvr-overline-from-right"><%= link_to "Logout", sessions_path, method: :delete,
                 data: {confirm: "are you sure you want to log out?"}%></li>

          <li class="avatar hvr-overline-from-right"><%= link_to image_tag(current_user.avatar_url(:xxsmall).to_s), user_path(current_user) %><li>
        <% else %>
          <li class="navbar-right hvr-overline-from-right"><%= link_to "Login", new_session_path %></li>
          <li class="navbar-right hvr-overline-from-right"><%= link_to fa_icon("twitter", base: "square-o", class: "fa-2x"), sign_in_with_twitter_path%></li>
          <li class="navbar-right hvr-overline-from-right"><%= link_to "Sign Up", new_user_path %></li>
        <% end %>
      </ul>
    </nav>
  </div> <!-- / row -->
</header>

<!-- header-container -->
  <div class="header-container">
    <div class="video-container">
      <video class="video" autoplay loop muted>
        <source src="coffee.mp4" type="video/mp4"/>
        <source src="coffee.ogg" type="video/ogg"/>
        Your browser does not support the video tag.
      </video>
    </div> <!-- end of video-container -->
  </div>
  <!-- end of header-container -->

<!-- search -->

<!-- end of search -->

  <!-- popular shops/recipes -->
<div class="container" id="bean-home">
  <div class="container cirlce">
    <h2 class="no-span">These are the beans you are looking for</h2>
    <div class="row">
      <% @beans.each do |f| %>
      <div class="col-lg-4">
        <div class="circle hvr-grow"><%= link_to image_tag(f.beanimg_url(:thumb)), bean_path(f) %><%= f.name %></div>
      </div>
      <% end %>
    </div>
  </div>
</div>

<div class="container" id="cafe-home">
  <div class="container circle">
    <div class="row">
      <h2 class="no-span">Places to bean</h2>
      <% @shops.each do |f| %>
      <div class="col-lg-4">
        <div class="circle hvr-grow"><%= link_to image_tag(f.cafeimg_url(:thumb)), shop_path(f) %><%= f.name %></div>
      </div>
      <% end %>
    </div>
  </div>
</div>

<div class="container" id="recipe-home">
  <div class="container cirlce">
    <div class="row">
      <h2 class="no-span">Trending drinks</h2>
      <% @recipes.each do |f| %>
      <div class="col-lg-4">
        <div class="circle hvr-grow"><%= link_to image_tag(f.recipeimg_url(:thumb)), recipe_path(f) %><%= f.name %></div>
      </div>
      <% end %>
    </div>
  </div>
</div>
<!-- end of popular shops/recipes -->

<!-- Service -->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our Services</h2>
                <hr class="hr-index">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa fa-coffee wow bounceIn text-primary"></i>
                    <h3>Beans</h3>
                    <p class="text-muted">Help you find your next favourite Beans.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-map-o  wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Cafes</h3>
                    <p class="text-muted">Search amazing cafes near you.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-book wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Recipe</h3>
                    <p class="text-muted">Write and save your recipe.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-pie-chart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Recommendation</h3>
                    <p class="text-muted">Recomendations based on your taste!</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- service end -->
<!-- big pictures -->
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="hr-index">
                <p>Have any suggestions! Give us a call or send us an email and we will get back to you as soon as possible!</p>
            </div>
            <div class="col-lg-4 col-lg-offset-2 text-center">
                <i class="fa fa-phone fa-3x wow bounceIn"></i>
                <p>(604) 559-2633</p>
            </div>
            <div class="col-lg-4 text-center">
                <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p><a href="mailto:your-email@your-domain.com">dohoonk.smg@gmail.com</a></p>
            </div>
        </div>
    </div>
</section>

<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="js/jquery.easing.min.js"></script>
<script src="js/jquery.fittext.js"></script>
<script src="js/wow.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="js/creative.js"></script>
<!-- end of big picture -->

<!-- Footer-cotainer -->

  <footer>
    <div class="container">
      <p>Copyright Tony Kim 2016</p>
    </div>
  </footer>

<!-- End of footer-container -->
