<%= simple_form_for @bean do |f| %>
  <div class="well">
    <%= f.input :name %>
    <%= f.input :region %>
    <%= f.input :producer %>
    <%= f.button :submit, class: "btn btn-primary"  %>
  </div>
<% end %>
