<div class="wrapper">
<!-- Header -->
<div class="container" id="bean-index"></div>
<!-- Header end -->

<!-- search -->
<div class="search">
  <%= form_tag(beans_path, :method => "get", id: "search") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Posts" %>
    <%= button_tag "search", class: 'btn btn-success' do %>
      <i class="glyphicon glyphicon-search"></i>
    <% end %>
  <% end %>
</div>
<!-- end of search -->

  <div class="cotainer" id="bean-index-outer">
    <div class="row">
      <% @beans.each do |f| %>
        <div class="col-lg-4 bean-index">
          <div class="bean-index-self-img hvr-grow" alt="Fjords">
            <%= link_to image_tag(f.beanimg_url(:thumb)), bean_path(f) %>
          </div>
            <div class="desc">
              <h4><%= link_to f.name, bean_path(f), class: "bean-name" %></h4>
              <p>Region: <%= f.region %></p>
              <p>Producer: <%= f.producer %></p>
            </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class='text-center'>
  <%= paginate @beans, :theme => 'twitter-bootstrap-3' %>
</div>
