<h1>These are the beans you are looking for</h1>
<%= image_tag @bean.beanimg_url.to_s %>
<%= @bean.name %>
<%= @bean.region %>
<%= @bean.producer %>
<hr>
<% if @bean_like.present? && @bean_like.persisted? %>
  <%= link_to "Un-Like", bean_bean_like_path(@bean, @bean_like), method: :delete %>
<% else %>
  <%= link_to "Like", bean_bean_likes_path(@bean), method: :post %>
<% end %>

<% if can? :edit, @bean %>
  <%= link_to "Edit", edit_bean_path(@bean) %>
<% end %>
<% if can? :delete, @bean %>
  <%= link_to "Delete", bean_path(@bean), method: :delete %>
<% end %>

<%= render "comments/form" %>
<%= render "comments/show" %>
