<h1>These are the beans you are looking for</h1>
<%= @bean.name %>
<%= @bean.region %>
<%= @bean.producer %>
<hr>

<% if can? :edit, @bean %>
  <%= link_to "Edit", edit_bean_path(@bean) %>
<% end %>
<% if can? :delete, @bean %>
  <%= link_to "Delete", bean_path(@bean), method: :delete %>
<% end %>

<%= render "comments/form" %>
<%= render "comments/show" %>
